<main>
  <h1>Seja bem vindo ao jogo da memória para Devs</h1>

  <button type="button" (click)="reArrangeCards()">
    Click aqui para iniciar
  </button>


  <div class="content">
    <div class="card-flip-container" *ngFor="let item of allCards; index as i">
      <div id="{{allCards[i].name}}_{{i}}" class="card-container spin">
        <div class="front">
          <h3>Dev Game Card Memory</h3>
        </div>

        <div class="back">
          <img class="card-img" src={{allCards[i].img}} alt={{allCards[i].name}}>
          <p>{{allCards[i].name}}</p>
        </div>
      </div>
    </div>

    <button type="button" class="card-flip-container" *ngFor="let item of reArrangedCards; index as i"
    [disabled]="cardsMatch.includes(i)"
    (click)="spinCard(reArrangedCards[i].name, i)"
      >
      <div id="{{reArrangedCards[i].name}}_{{i}}" class="card-container">
        <div class="front">
          <h3>Dev Game Card Memory</h3>
        </div>

        <div class="back">
          <img class="card-img" src={{reArrangedCards[i].img}} alt={{reArrangedCards[i].name}}>
          <p>{{reArrangedCards[i].name}}</p>
        </div>
      </div>
    </button>
  </div>
</main>
